<div class="container">
    <div class="row col-md-12">
        <table class="table table-striped table-sm">
            <tr>
                <td>Title</td>
                <td>{{movie.title}}</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>{{movie.language}}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{movie.location}}</td>
            </tr>
            <tr>
                <td>Plot</td>
                <td>{{movie.plot}}</td>
            </tr>
            <tr>
                <td>Poster</td>
                <td><img width="150" height="150" [src]="movie.poster"></td>
            </tr>
            <tr>
                <td>Sound Effects</td>
                <td>{{movie.soundEffects}}</td>
            </tr>
            <tr>
                <td>Stills</td>
                <td>
                    <img *ngFor="let ig of this.movie.stills" [src]="ig.stillImage" alt="" width="150" height="150">
                </td>
            </tr>
            <tr>
                <td>imdbID</td>
                <!-- <td>{{movie.imdbId}}</td> -->
            </tr>
           
            <tr>
                <td>Listing Type</td>
                <td>{{movie.listingType}}</td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>{{movie.imdbRating}}</td>
            </tr>
           
            <tr>
                <td rowspan="2">
                    <a href="#" [routerLink]="['/movies']" class="btn btn-primary">Back</a>
                </td>
            </tr>
        </table>
    </div>
</div>
